.DS_Store
~$oject_Lex.doc
~$roject.docx
subc
~$oject_Grammar.docx
testfile.txt
main.dSYM/Contents/Info.plist
main.dSYM/Contents/Resources/DWARF/main
parser.dSYM/Contents/Info.plist
parser.dSYM/Contents/Resources/DWARF/parser
subc.dSYM/Contents/Info.plist
parser.o
parser
main
main.cpp
