.DS_Store
~$oject_Lex.doc
~$roject.docx
subc
~$oject_Grammar.docx
testfile.txt
main.dSYM/Contents/Info.plist
main.dSYM/Contents/Resources/DWARF/main
parser.dSYM/Contents/Info.plist
parser.dSYM/Contents/Resources/DWARF/parser
subc.dSYM/Contents/Info.plist
parser.o
parser
main
main.cpp
.vscode/launch
.vscode/launch.dSYM/Contents/Info.plist
.vscode/launch.dSYM/Contents/Resources/DWARF/launch
tiny_test_progs/tiny_03.dSYM/Contents/Info.plist
*.plist
test.dSYM/Contents/Resources/DWARF/test
subc_tests
subc_tests
tests/parser_tests.dSYM/Contents/Resources/DWARF/parser_tests
tests/parser_tests
.vscode/tasks.dSYM/Contents/Resources/DWARF/tasks
.vscode/tasks
parser_tests
parser_identifier_tests
